
body {
	background:#000;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #888888;
	margin:0;
}
h2{
	font-size:34px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
/* malware name */
h3{
	font-family: 'Montserrat', sans-serif;
	color: #935116;
	font-size:14px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:600;
}

p{
	line-height:24px;
	margin:0;
}

.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.link{
	padding:15px 35px;
	background:#0C9046;
	color:#0C9046 !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color:#0C9046 !important;
	background:#0C9046;
}

.link:active, .link:focus {
	background:#0C9046;
	text-decoration:none;
	color:#0C9046 !important;
}

/* top nav area */
.main-nav-outer{
	padding:0px;
	float: right;
	background: #000;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#935116;  /*header link color*/
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
	font-weight: bold;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: #777;
}

.main-section{
	padding:90px 0 110px;
}

.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}


.main-section.padding{
	padding-bottom:60px;
}
